body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(158, 158, 158);
    text-align: center;
    font-family: consolas;
}

h2 {
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 0px 80px 10px 80px;
}

h2:hover {
    color: #195f59;
    border-bottom: 2px solid #195f59;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .card {
    position: relative;
    cursor: pointer;
}

.container .card .face {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: 0.5s;
}

.content img {
    height: 320px;
    width: 320px;
    border-radius: 10px;
}

.price {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 40px;
    color: black;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(200px);
}

.container .card:hover .face.face1 {
    background: #195f59;
    transform: translateY(0);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: .6;
}

.container .card:hover .face.face1 .content img {
    max-width: 350px;
}

.container .card .face.face2 {
    position: relative;
    background: #195f59;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    background: #fff;
}

.container .card .face.face2 h3 {
    padding-top: 150px;
    color: #fff;
    transition: 0.5s;
}

.container .card:hover .face.face2 h3 {
    padding-top: 10px;
    color: black;
    transition: 0.5s;
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
    background: #195f59;
    color: #fff;
}